# Project exclude paths
/backend/node_modules/
/backend/.idea
/backend/.idea/

/backend-ts/node_modules/
/backend-ts/node_modules
/backend-ts/.idea
/backend-ts/.idea/


# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

